<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- user-login11:10-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Furnitica - Minimalist Furniture HTML Template</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- libs CSS -->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="/libs/slick-slider/css/slick-theme.css">

    <!-- Template CSS -->

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/reponsive.css">
</head>

    
