{{>header}}

<body id="page-404" class="blog">

    <!-- main content -->
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <section class="page-home">
                    <div class="container">
                        <div class="row center">
                            <div class="content-404 col-lg-6 col-sm-6 text-center">
                                <div class="image">
                                    <img class="img-fluid" src="/img/other/image-404.png" alt="Image 404">
                                </div>
                                <h2 class="h4">We're sorry — something has gone wrong on our end.</h2>
                                <div class="info">
                                    <p>If difficulties persist, please contact the System Administrator of this site and report
                                        the error below.</p>
                                </div>
                                <a class="btn btn-default" href="/">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    
                                    <span>Back to homepage</span>
                                </a>
                            </div>
                            <div class="content-right-404 col-lg-6 col-sm-6 text-center">
                                <a href="#">
                                    <img class="img-fluid" src="/img/other/background.jpg" alt="image 404 right">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <!-- Vendor JS -->
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/popper/popper.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/slider-range/js/tmpl.js"></script>
    <script src="libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider-range/js/draggable-0.1.js"></script>
    <script src="libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="js/theme.js"></script>
</body>

{{>footer}}